.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .post {
    width: 200px;
    padding: 16px;
    margin: 16px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  
  .post:hover {
    cursor: pointer;
  }
  
  .post-details {
    width: 300px;
    padding: 16px;
    margin-top: 16px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  .post-details:hover{
    background-color: #1b92d1;
  }
  
  .post-details h2 {
    margin-top: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .button-container button {
    margin-right: 8px;
  }
  .posts-container {
    display: flex;
    justify-content: center;
  }
  
  .post {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
  }
  
 
  .post:hover {
    background-color: #FFA07A; 
  }
  